{% extends "layout.html" %}

{% block title %}
    Accounts
{% endblock %}

{% block main %}

    <table id="myTable" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">

        <tr style="font-size: 1.3em;">
        {% for key in acc_dict_list[0].keys() %}
            <td >
                {{ key }}
            </td>
        {% endfor %}
        </tr>

        {% for dict in acc_dict_list %}
        <tr>
            {% for item in dict.items() %}
                <td>{{ item[1] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

    </table>

    <!-- <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script> -->
{% endblock %}