{% extends "layout.html" %}

{% block title %}
    Balances
{% endblock %}

{% block main %}

    <ul class="nav-list">
        <li>
            <a href="/balances">Banks</a>
        </li>
        <li>
            <a href="/owners">Partners</a>
        </li>
        <li>
            <a href="/agents">Clients</a>
        </li>
        <li>
            <a href="/employees">Employees</a>
        </li>
        <li>
            <a href="/expenses">Expenses</a>
        </li>
        <li>
            <a href="/all_acc">All Accounts</a>
        </li>
    </ul>

{% endblock %}