#whole-charts-container {
    width: 100%;
    /* background-color: white;
    background-color: #151524;
    background-color:#ffe600c0; */
    color: black;
    color: #100057;
    color: tomato;
    padding-bottom: 1em;
}